.echLegend2[role='tree'] {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .echLegend2Item[role="treeitem"].doc::before {
//   content: url(../images/file.png);
// }
.echLegend2Item {
  &:focus {
    border: 1px solid red;
  }
}
.echLegend2Item[aria-expanded='false'] > ul {
  display: none;
}

.echLegend2Item[aria-expanded='true'] > ul {
  display: block;
}

.echLegend2Item > ul {
  margin-left: 6px;
}

.echLegend2Container--horizontal {
  .echLegend2Item {
    float: left;
    margin-right: 10px;
  }
}
