# Force include
!.*.js
!.buildkite
!packages/charts/.*.js

# Ignore
wiki
**/node_modules
coverage
license_header.js
*.html

# Editor configs
.vscode

# Hidden directories
.git

# Compiled source
packages/charts/src/utils/d3-delaunay
**/dist

# auto generated directories
**/tmp
.buildkite/buildkite.d.ts
e2e/reports/
