**/node_modules/
test/spec/screenshots/baseline/**/*.png
test/spec/screenshots/diff/**/*.png
test/spec/screenshots/screen/**/*.png
test/failure-screenshots/**/*.png

.env
reports/
**/tmp/
**/.env
.temp/
**/dist/
coverage/
.out/
.DS_Store
.eslintcache
.yo-rc.json
npm-debug.log
yarn-error.log
playground/playground.tsx
.jest-image-snapshot-touched-files

# Editor configs
.vscode/
.idea
.claude
.cursor

**/__diff_output__/
.buildkite/buildkite.d.ts
.buildkite/artifacts/

# keep only top-level lock file unless a workspace manages its own install
**/*/yarn.lock
!.buildkite/yarn.lock
!docs/yarn.lock
!e2e/yarn.lock

# We keep node module archives in this folder
.yarn-offline-cache/