.echBulletGraphHeader {
  position: relative;
  padding: 8px 8px 0 8px;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $euiTextColor;
  }
  &__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $euiColorDarkShade;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  &--vertical {
    border-bottom: 1px solid ;
  }
}

.echBulletGraphHeader--single {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
  .echBulletGraphHeader__title {
    @include lineClamp(2);
  }
  //padding-bottom: 4px;
}

.echBulletGraphHeader--multi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  .echBulletGraphHeader__title {
    width: 100%;
    @include lineClamp(2);
  }
  .echBulletGraphHeader__subtitle {
    @include lineClamp(1);
    flex-grow: 1;
    flex-shrink: 1;
  }

}

.echBulletHeader__valueContainer {
  white-space: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: baseline;
}
.echBulletHeader__value {
  font-weight: 700;
  font-size: 22px;
}
.echBulletHeader__target {
  font-weight: 500;
  font-size: 16px;
}
