@import 'header';

.echBulletGraphContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  svg {
    overflow: visible;
    rect {
      stroke: none;
    }
  }
}

.echBulletGraphSVG--container {
  flex: 1;
  padding: 10px;
  height: 100%;
  overflow: visible;
  position: relative;
}
.echBulletGraphSVG--container svg {
  overflow: visible;
}
.echBulletGraph {
  .echBullet--tickLabel {
    font-size: 10px;
    fill: $euiTextColor;
  }

  .echBullet--tickLabel {
    font-size: 10px;
    fill: $euiTextColor;
  }
  .echBullet--target {
    fill: $euiTextColor;
  }
  .echBullet--bar {
    fill: #333333;//$euiTextColor;
  }
  .echBullet--tick {
    stroke: $euiPageBackgroundColor;
  }
  .echBullet--angularTick {
    fill: $euiPageBackgroundColor;
  }

  .echBullet--angularBar {
    stroke: $euiTextColor;
  }
  .echBullet--angularTick {
    stroke: $euiTextColor;
  }
  .echBullet--angularTickLabel {
    fill: $euiTextColor;
  }
}
