@import '~@elastic/eui/dist/eui_theme_light';

/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../public/fonts/atkinson-hyperlegible-v1-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../public/fonts/atkinson-hyperlegible-v1-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* atkinson-hyperlegible-700 - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('../public/fonts/atkinson-hyperlegible-v1-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../public/fonts/atkinson-hyperlegible-v1-latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 14px !important;
  &.light-theme {
    @import '~@elastic/eui/dist/eui_theme_light';
    @import '~@elastic/charts/src/theme_light';

    &:not(.legacy) {
      @import '~@elastic/eui/src/themes/amsterdam/colors_light';

      body,
      .echChart {
        background: $euiColorEmptyShade !important;
      }

      .euiText {
        // required to prevent inheriting from html
        color: $euiTitleColor;
      }
    }
  }

  &.dark-theme {
    @import '~@elastic/eui/dist/eui_theme_dark';
    @import '~@elastic/charts/src/theme_dark';

    &:not(.legacy) {
      @import '~@elastic/eui/src/themes/amsterdam/colors_dark';

      body,
      .echChart {
        background: $euiColorEmptyShade !important;
      }

      .euiText {
        // required to prevent inheriting from html
        color: $euiTitleColor;
      }
    }
  }

  &.legacy {
    &.dark-theme {
      body,
      .echChart {
        background: black !important;
      }
    }

    &.light-theme {
      body,
      .echChart {
        background: white !important;
      }
    }
  }

  &.disable-animations {
    *,
    *::after,
    *::before {
      transition-delay: 0s !important;
      transition-duration: 0s !important;
      animation-delay: -0.0001s !important;
      animation-duration: 0s !important;
      animation-play-state: paused !important;
      caret-color: transparent !important;
    }

    .echLegend .echLegendListContainer :focus {
      animation-duration: 0s !important; // remove focus animation but keep border
    }

    .euiSaturation:focus .euiSaturation__indicator {
      animation: none !important; // fix color picker dot
    }
  }

  &.echVisualTesting {
    &,
    body,
    #root {
      background: blanchedalmond !important;
    }

    #story-header {
      display: none;
    }

    #root {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}

body {
  min-height: 100%;
}

#root {
  z-index: 200;
  position: relative;
}

#story-root {
  padding: 20px;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 500;
  box-sizing: border-box;

  &.showChartBoundary {
    background-color: blanchedalmond;
  }
}

#story-resize-wrapper {
  resize: both;
  height: 100%;
  width: 100%;
  overflow: auto;
  max-width: 100%;
  max-height: 80vh;
}

#story-header {
  padding: 20px 40px 16px;
}

.sb-show-main {
  padding: 0 !important;
}

.echChart {
  box-sizing: border-box;
}

.echInvisible {
  visibility: hidden;
}

#story-root + div table {
  border: 1px solid gray;
}

#story-root + div table th {
  border: 1px solid gray;
  padding: 5px;
}

#story-root + div table td {
  border: 1px solid gray;
  padding: 5px;
}

.Pane.vertical.Pane1 {
  background: red;
}

// for using EuiWrappingPopover in stories
.euiPopover__anchor {
  width: 100%;
}

.resizable {
  resize: both;
  overflow: auto;
  width: 500px;
  height: 600px;
}
