@import '~@elastic/eui/dist/eui_theme_light';

html {
  .sb-show-main {
    padding: 0 !important;
  }

  &.light-theme {
    @import '~@elastic/eui/dist/eui_theme_light';
    @import '~@elastic/charts/src/theme_light';

    .echChart {
      background: white;
    }
  }

  &.dark-theme {
    @import '~@elastic/eui/dist/eui_theme_dark';
    @import '~@elastic/charts/src/theme_dark';

    .echChart {
      background: #1a1b20;
    }
  }
}

.euiPageHeader {
  margin-bottom: 0 !important;
}

.echInvisible {
  visibility: hidden;
}

#story-wrapper {
  padding: 20px;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 500;
  box-sizing: border-box;
  background-color: blanchedalmond;
}

html.disable-animations {
  *,
  *::after,
  *::before {
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-delay: -0.0001s !important;
    animation-duration: 0s !important;
    animation-play-state: paused !important;
    caret-color: transparent !important;
  }

  .echLegend .echLegendListContainer :focus {
    animation-duration: 0s !important; // remove focus animation but keep border
  }

  .euiSaturation:focus .euiSaturation__indicator {
    animation: none !important; // fix color picker dot
  }
}

.Pane.vertical.Pane1 {
  background: red;
}

html.echVisualTesting {
  background-color: blanchedalmond;

  #root > div:not(#story-root) {
    display: none;
  }

  #root {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

// for using EuiWrappingPopover in stories
.euiPopover__anchor {
  width: 100%;
}
