@import '~@elastic/eui/dist/eui_theme_light';
@import '~@elastic/charts/src/theme_light';

html {
  &.light-theme {
    @import '~@elastic/eui/dist/eui_theme_light';
    @import '~@elastic/charts/src/theme_light';

    body,
    .echChart {
      background: white !important;
    }
  }

  &.dark-theme {
    @import '~@elastic/eui/dist/eui_theme_dark';
    @import '~@elastic/charts/src/theme_dark';

    body,
    .echChart {
      background: black !important;
    }
  }

  &.eui {
    &.dark-theme {
      @import '~@elastic/eui/src/themes/eui/eui_colors_dark.scss';

      body,
      .echChart {
        background: $euiColorEmptyShade !important;
      }
    }

    &.light-theme {
      @import '~@elastic/eui/src/global_styling/variables/_colors.scss';

      body,
      .echChart {
        background: $euiColorEmptyShade !important;
      }
    }
  }

  &.disable-animations {
    *,
    *::after,
    *::before {
      transition-delay: 0s !important;
      transition-duration: 0s !important;
      animation-delay: -0.0001s !important;
      animation-duration: 0s !important;
      animation-play-state: paused !important;
      caret-color: transparent !important;
    }

    .echLegend .echLegendListContainer :focus {
      animation-duration: 0s !important; // remove focus animation but keep border
    }

    .euiSaturation:focus .euiSaturation__indicator {
      animation: none !important; // fix color picker dot
    }
  }

  &.echVisualTesting {
    &,
    body,
    #root {
      background: blanchedalmond !important;
    }

    #story-header {
      display: none;
    }

    #root {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}

body {
  min-height: 100%;
}

#root {
  z-index: 200;
  position: relative;
}

#story-root {
  padding: 20px;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 500;
  box-sizing: border-box;
  background-color: blanchedalmond;
}

#story-header {
  padding: 20px 40px 16px;
}

.sb-show-main {
  padding: 0 !important;
}

.echChart {
  box-sizing: border-box;
}

.echInvisible {
  visibility: hidden;
}

#story-root + div table {
  border: 1px solid gray;
}

#story-root + div table th {
  border: 1px solid gray;
  padding: 5px;
}

#story-root + div table td {
  border: 1px solid gray;
  padding: 5px;
}

.Pane.vertical.Pane1 {
  background: red;
}

// for using EuiWrappingPopover in stories
.euiPopover__anchor {
  width: 100%;
}
