// Core
$echColorPrimary: #1ba9f5;
$echColorGhost: #fff !default;

// Grays
$echColorEmptyShade: #1d1e24;
$echColorLightShade: #343741;
$echColorMediumShade: #535966;
$echColorDarkShade: #98a2b3;
$echColorDarkestShade: #d4dae5;
$echColorFullShade: #fff;

// Every color below must be based mathmatically on the set above.

$echTextColor: #dfe5ef;
$echFocusBackgroundColor: #232635;
