// Core
$euiColorPrimary: #1ba9f5;
$euiColorGhost: #fff !default;

// Grays
$euiColorEmptyShade: #1d1e24;
$euiColorLightShade: #343741;
$euiColorMediumShade: #535966;
$euiColorDarkShade: #98a2b3;
$euiColorDarkestShade: #d4dae5;
$euiColorFullShade: #fff;

// Every color below must be based mathmatically on the set above.

$echTextColor: #dfe5ef;
$euiFocusBackgroundColor: #232635;
