$progress-bar-border-radius: 8px;

.echSingleMetricProgress {
  position: absolute;
  overflow: hidden;
  border-radius: $progress-bar-border-radius;

  &--vertical {
    left: $padding;
    right: 0;
    top: $padding;
    bottom: 0;
    height: calc(100% - #{$padding * 2});
    width: 100%;

    &.echSingleMetricProgress--small {
      right: auto;
      width: $progress-bar-width-small;
    }

    &.echSingleMetricProgress--medium {
      right: auto;
      width: $progress-bar-width-medium;
    }

    &.echSingleMetricProgress--large {
      right: auto;
      width: $progress-bar-width-large;
    }
  }

  &--horizontal {
    left: $padding;
    right: 0;
    width: calc(100% - #{$padding * 2});
    top: 0;
    bottom: $padding;
    height: 100%;

    &.echSingleMetricProgress--small {
      top: auto;
      height: $progress-bar-height-small;
    }

    &.echSingleMetricProgress--medium {
      top: auto;
      height: $progress-bar-height-medium;
    }

    &.echSingleMetricProgress--large {
      top: auto;
      height: $progress-bar-height-large;
    }
  }
}

.echSingleMetricProgressBar {
  transition: background-color ease-in-out 0.1s;
  max-width: 100%;
  max-height: 100%;
  position: absolute;

  &--vertical {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  &--horizontal {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  }
}

.echSingleMetricTarget {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 1; // needed to pop up to top for hovered title

  &--vertical {
    transform: rotate(90deg);

    &.echSingleMetricTarget--small {
      left: calc($padding + $progress-bar-width-small);
    }

    &.echSingleMetricTarget--medium {
      left: calc($padding + $progress-bar-width-medium);
    }

    &.echSingleMetricTarget--large {
      left: calc($padding + $progress-bar-width-large);
    }
  }

  &--horizontal {
    &.echSingleMetricTarget--small {
      bottom: calc($padding + $progress-bar-height-small);
    }

    &.echSingleMetricTarget--medium {
      bottom: calc($padding + $progress-bar-height-medium);
    }

    &.echSingleMetricTarget--large {
      bottom: calc($padding + $progress-bar-height-large);
    }
  }
}

.echSingleMetricZeroBaseline {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

  $line-width: 2px;
  $line-length: 13px;

  &--vertical {
    position: absolute;
    height: $line-width;
    width: $line-length;

    &.echSingleMetricZeroBaseline--small {
      left: calc($padding + ($progress-bar-width-small / 2) - ($line-width / 2));
    }

    &.echSingleMetricZeroBaseline--medium {
      left: calc($padding + ($progress-bar-width-medium / 2) - ($line-width / 2));
    }

    &.echSingleMetricZeroBaseline--large {
      left: calc($padding + ($progress-bar-width-large / 2) - ($line-width / 2));
    }
  }

  &--horizontal {
    position: absolute;
    width: $line-width;
    height: $line-length;

    &.echSingleMetricZeroBaseline--small {
      bottom: calc($padding + ($progress-bar-height-small / 2) - ($line-length / 2));
    }

    &.echSingleMetricZeroBaseline--medium {
      bottom: calc($padding + ($progress-bar-height-medium / 2) - ($line-length / 2));
    }

    &.echSingleMetricZeroBaseline--large {
      bottom: calc($padding + ($progress-bar-height-large / 2) - ($line-length / 2));
    }
  }
}
