$boder-radius: 8px;

.echSingleMetricProgress {
  position: absolute;
  border-radius: $boder-radius;

  &--vertical {
    left: $padding;
    right: 0;
    top: $padding;
    bottom: 0;
    height: calc(100% - #{$padding * 2});
    width: 100%;

    &.echSingleMetricProgress--small {
      right: auto;
      width: 10px;
    }
  }

  &--horizontal {
    left: $padding;
    right: 0;
    width: calc(100% - #{$padding * 2});
    top: 0;
    bottom: $padding;
    height: 100%;

    &.echSingleMetricProgress--small {
      top: auto;
      height: 10px;
    }
  }
}

.echSingleMetricProgressBar {
  transition: background-color ease-in-out 0.1s;
  
  &--vertical {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 $boder-radius $boder-radius ;
  }

  &--horizontal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: $boder-radius 0 0 $boder-radius;
  }
}

.echSingleMetricTarget {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 1; // needed to pop up to top for hovered title

  &--vertical {
    transform: rotate(90deg);
    position: absolute;
    left: 100%;
    bottom: 0;
  }

  &--horizontal {
    position: absolute;
    bottom: 100%;
  }
}

.echSingleMetricZeroBaseline {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  $line-width: 2px;
  $line-length: 13px;

  &--vertical {
    position: absolute;
    left: 0;

    &.echSingleMetricZeroBaseline--small {
      right: auto;
      height: $line-width;
      width: $line-length;
    }
  }

  &--horizontal {
    position: absolute;
    bottom: 0;

    &.echSingleMetricZeroBaseline--small {
      top: auto;
      width: $line-width;
      height: $line-length;
    }
  }
}
