.echSecondaryMetric {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.echSecondaryMetric__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  flex: 1 1 auto;
}

.echSecondaryMetric__value {
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
