
.echSingleMetricSparkline {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}

.echSingleMetricSparkline__svg{
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  width:100%;
  height:100%;
}

.echSingleMetricChart--small {
  position: absolute;
  top: auto;
  left: auto;
  bottom:0;
  right: 0;
  width:100px;
  height:30px;
}
