.echMetricText {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: min-content auto min-content min-content;
  height: 100%;
  padding: $padding;
  line-height: 1.2;

  &__gap {
    overflow: hidden;
  }

  &__titlesBlock {
    display: flex;
    flex-direction: column;
  }

  &__titlesBlock {
    &--left {
      align-items: start;
      text-align: left;
    }

    &--center {
      align-items: center;
      text-align: center;

      .echMetricText__title {
        button {
          width: 100%;
        }
      }
    }

    &--right {
      align-items: end;
      text-align: right;
    }
  }

  .echMetricText__extraBlock {
    display: flex;
    align-items: center;
    overflow: hidden;

    &--left {
      justify-content: flex-start;
    }
    &--center {
      justify-content: center;
    }
    &--right {
      justify-content: flex-end;
    }
  }

  &__valueBlock {
    width: 100%;
    display: flex;
    flex-direction: row;

    &--left {
      justify-content: start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: end;
    }
  }

  &__title {
    word-wrap: break-word;
    width: 100%;

    button {
      width: 95%;
    }
  }

  &__subtitle {
    padding-top: 5px;
    font-weight: normal;
    width: 95%;
  }

  &__extra {
    font-weight: normal;
  }

  &__value {
    position: relative;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }

  &__valueIcon {
    padding-left: $padding;
  }

  &__part {
    font-weight: bold;
  }

  &__icon {
    display: flex;

    &--left {
      justify-content: left;
    }

    &--right {
      justify-content: right;
    }
  }
}
