$padding: 8px;

.echMetricText {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content min-content;
  height: 100%;
  padding: $padding;
  line-height: 1.2;

  &__titlesBlock {
    display: flex;
    flex-direction: column;
  }

  &__titlesBlock,
  &__extraBlock {
    &--left {
      align-items: start;
      text-align: left;
    }

    &--center {
      align-items: center;
      text-align: center;

      .echMetricText__title {
        button {
          width: 100%;
        }
      }
    }

    &--right {
      align-items: end;
      text-align: right;
    }
  }

  &__valueBlock {
    width: 100%;
    display: flex;
    flex-direction: row;

    &--left {
      justify-content: start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: end;
    }
  }

  &__title {
    font-weight: bold;
    word-wrap: break-word;
    width: 100%;

    button {
      font-weight: bold;
      width: 95%;
    }
  }

  &__subtitle {
    padding-top: 5px;
    font-weight: normal;
    width: 95%;
  }

  &__extra {
    font-weight: normal;
  }

  &__value {
    position: relative;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }

  &__valueIcon {
    padding-left: $padding;
  }

  &__part {
    font-weight: bold;
  }

  &__icon {
    // position: absolute;
    // top: $padding;
    display: flex;
    justify-content: right;

    &--left {
      // left: $padding;
    }

    &--right {
      // right: $padding;
    }
  }

  &__gap {
    // position: relative;
  }

  &__body {
    // overflow: hidden;
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
  }
}
