$padding: 8px;

.echMetricText {
  position: relative;
  padding: $padding;
  height: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
  line-height: 1.2;

  &__valuesBlock, &__titlesBlock {
    display: flex;
    flex-direction: column;

    &--left {
      align-items: start;
      text-align: left;

      .echMetricText__valueGroup {
        justify-content: start;
      }
    }

    &--center {
      align-items: center;
      text-align: center;

      .echMetricText__valueGroup {
        justify-content: center;
      }

      .echMetricText__title {
        button {
          width: 100%;
        }
      }
    }

    &--right {
      align-items: end;
      text-align: right;

      .echMetricText__valueGroup {
        justify-content: end;
      }
    }
  }

  &__valueGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__titleGroup {
    display: flex;
    flex-direction: row;
  }

  &__title {
    font-weight: bold;
    word-wrap: break-word;
    width: 100%;

    button {
      font-weight: bold;
      width: 95%;
    }
  }

  &__icon {
    position: absolute;
    top: $padding;

    &--left {
      left: $padding;
    }

    &--right {
      right: $padding;
    }
  }

  &__subtitle {
    padding-top: 5px;
    font-weight: normal;
    width: 95%;
  }

  &__extra {
    font-weight: normal;
  }

  &__value {
    position: relative;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }

  &__valueIcon {
    padding-left: $padding;
  }

  &__part {
    font-weight: bold;
  }

  &__gap {
    position: relative;
  }

  &__body {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
