$tooltipPromptAnimDelay: 1.5s;
$tooltipPromptAnimTime: 0.25s;

@keyframes promptSlideDown {
  100% {
    opacity: 1;
    top: 0;
    height: 26px;
  }
}

.echTooltipPrompt {
  position: relative;
  width: 100%;
  z-index: -1;

  &__content {
    color: $euiTextSubduedColor;
    font-style: normal;
    font-size: 12px;
    line-height: 26px;
    padding: 0 $euiSizeS;
  }
  &.slideDown {
    opacity: 0;
    top: -26px;
    height: 0;
    animation: promptSlideDown $tooltipPromptAnimTime forwards;
    animation-delay: $tooltipPromptAnimDelay;
  }
}
