$tooltipPromptAnimDelay: 0.5s;

@keyframes promptFadeInDown {
  100% {
    opacity: 1;
    top: 0;
    height: 26px;
  }
}


.echTooltipPrompt {
  position: relative;
  width:100%;
  //opacity: 0;
  //top: -26px;
  //height: 0;
  //animation: promptFadeInDown 0.5s forwards;
  //animation-delay: $tooltipPromptAnimDelay;
  z-index: -1;

  &__content {
    color: $euiTextSubduedColor;
    font-style: normal;
    font-size: 12px;
    line-height: 26px;
    padding: 0 $euiSizeS;
  }
}
