@import '../../mixins';

$tooltipBorderColor: $euiColorLightShade;
$tooltipBorderWidth: 1px;
$rowColorStripWidth: 5px;
/**
 * Manually synced with `COLOR_STRIP_CHECK_WIDTH` const in [`tooltip_table.tsx`](packages/charts/src/components/tooltip/components/tooltip_table.tsx)
 */
$colorStripCheckWidth: 11px;
$colorStripPadding: 5px;
$maxRowColorStripWidth: $colorStripCheckWidth + $colorStripPadding * 2;

$tableBorder: solid $tooltipBorderWidth $tooltipBorderColor;

$tableRowHoverColor: transparentize($euiColorPrimary, 0.95);
$tableRowSelectedColor: tintOrShade($euiFocusBackgroundColor, 0, 10%);
$tableRowHoverSelectedColor: tintOrShade($euiFocusBackgroundColor, 0, 10%);

$transitionTime: 200ms;

.echTooltip {
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  padding: 0;
  max-width: 100%;
  pointer-events: none;
  user-select: none;
  background-color: $euiColorEmptyShade;
  color: $euiTextColor;
  overflow: hidden;
  cursor: default;
  transition:
    box-shadow 400ms,
    opacity $euiAnimSpeedNormal;
  border: 1px solid $euiColorEmptyShade;

  &__outerWrapper {
    display: flex;
  }

  &--pinned {
    @include euiBottomShadowSmall;
    pointer-events: auto;
    user-select: auto;

    .echTable__tableRow--selectable {
      cursor: pointer;
    }

    .echTooltipActions {
      pointer-events: auto;
    }
    .echTable__tableWrapper {
      pointer-events: auto;
    }
  }

  .echTable__tableCell--truncate {
    @include lineClamp(2);
  }

  &__metricRow {
    padding: $euiSizeXS ($euiSizeXS * 2);
    display: flex;
    justify-content: space-between;
  }

  &__label {
    min-width: 1px;
    flex: 1 1 auto;
    text-align: left;
  }

  &__value {
    text-align: right;
    font-feature-settings: 'tnum';
  }
}
