@import '../mixins';

$tooltipBorderColor: #d4dae6;
$tooltipBorderWidth: 1px;
$rowColorStripWidth: 5px;
$maxRowColorStripWidth: 8px;
$rowColorStripAnimatedWidthDelta: 3px;

.echTooltip {
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  padding: 0;
  transition: opacity $euiAnimSpeedNormal;
  pointer-events: none;
  user-select: none;
  max-width: 256px;
  background-color: #fff;
  color: #343741;
  overflow: hidden;

  & > :not(:last-child) {
    border-bottom: solid $tooltipBorderWidth $tooltipBorderColor;
  }

  .euiTable {
    background-color: transparent;
  }

  .euiTableFooterCell,
  .euiTableHeaderCell,
  .euiTableRowCell {
    color: white;
  }

  &__list {
    &--scrollable {
      overflow-y: auto;
      pointer-events: auto;
    }
  }

  &__divider {
    border-bottom: solid $tooltipBorderWidth $tooltipBorderColor;
  }

  &__metricRow {
    padding: $euiSizeXS ($euiSizeXS * 2);
    display: flex;
    justify-content: space-between;
  }

  &__header {
    font-weight: $euiFontWeightBold;
    margin-bottom: 0;
    padding: $euiSizeXS ($euiSizeXS * 2);
  }

  &__footer {
    font-weight: $euiFontWeightBold;
    border-top: solid $tooltipBorderWidth $tooltipBorderColor;
    margin-top: 0;
    padding: $euiSizeXS ($euiSizeXS * 2);
  }

  &__stickyAction {
    color: #69707d;
    padding: $euiSizeS;
    margin-left: $rowColorStripWidth;
  }

  &__table {
    width: 100%;

    &--scrollable {
      overflow-y: auto;
      pointer-events: auto;
    }
  }

  &__tableHeader {
    font-weight: $euiFontWeightBold;
    margin-bottom: 0;
    border-bottom: solid $tooltipBorderWidth $tooltipBorderColor;
  }

  &__tableCell:not(.echTooltip__colorCell) {
    padding: 4px;
  }

  &__tableBody {
    td:not(.echTooltip__colorCell) {
      padding: 2px 4px;
    }
  }

  &__tableFooter {
    border-top: solid $tooltipBorderWidth $tooltipBorderColor;
    font-weight: $euiFontWeightBold;
    margin-top: 0;
  }

  &__tableRow {
    position: relative;

    &--highlighted {
      background-color: transparentize($euiColorInk, 0.93);

      // TODO save this for future sticky interactions
      // .echTooltip__colorStrip {
      //   width: $rowColorStripWidth + $rowColorStripAnimatedWidthDelta;
      // }
    }
  }

  &__colorCell {
    padding: 0;
    height: 100%;
    position: relative;

    &--empty {
      width: 0;
    }
  }

  &__colorStrip {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $rowColorStripWidth;
    min-width: $rowColorStripWidth;
    max-width: $maxRowColorStripWidth;
    transition: width 200ms;
  }

  &__colorStripSpacer {
    width: $maxRowColorStripWidth;
  }

  &__label {
    @include wrapText;
    min-width: 1px;
    flex: 1 1 auto;
    text-align: left;
  }

  &__value {
    text-align: right;
    font-feature-settings: 'tnum';
  }

  &[dir='rtl'] {
    .echTooltip {
      &__colorStrip {
        left: auto;
        right: 0;
      }
    }
  }
}
