@import '../mixins';

$tooltipBorderColor: $euiColorLightShade;
$tooltipBorderWidth: 1px;
$rowColorStripWidth: 5px;
$maxRowColorStripWidth: 10px;
$rowColorStripAnimatedWidthDelta: 2px;

.echTooltip {
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  padding: 0;
  pointer-events: none;
  user-select: none;
  max-width: 256px;
  background-color: $euiColorEmptyShade;
  color: $euiTextColor;
  overflow: hidden;
  cursor: default;
  transition: box-shadow 400ms, opacity $euiAnimSpeedNormal;

  &--pinned {
    @include euiBottomShadowSmall;
    pointer-events: auto;
    user-select: auto;

    .echTooltip__tableRow--selectable {
      cursor: pointer;
    }
  }

  & > :not(:last-child) {
    border-bottom: solid $tooltipBorderWidth $tooltipBorderColor;
  }

  .euiTable {
    background-color: transparent;
  }

  .euiTableFooterCell,
  .euiTableHeaderCell,
  .euiTableRowCell {
    color: white;
  }

  &__divider {
    border-bottom: solid $tooltipBorderWidth $tooltipBorderColor;
  }

  &__metricRow {
    padding: $euiSizeXS ($euiSizeXS * 2);
    display: flex;
    justify-content: space-between;
  }

  &__header {
    font-weight: $euiFontWeightBold;
    margin-bottom: 0;
    padding: $euiSizeXS ($euiSizeXS * 2);
  }

  &__footer {
    font-weight: $euiFontWeightBold;
    border-top: solid $tooltipBorderWidth $tooltipBorderColor;
    margin-top: 0;
    padding: $euiSizeXS ($euiSizeXS * 2);
  }

  &__actions {
    margin-left: $rowColorStripWidth;
    margin-top: $euiSizeS;
    margin-bottom: $euiSizeS;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    pointer-events: auto;
  }

  &__action,
  &__prompt {
    padding: $euiSizeS;
    padding-bottom: 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &__action {
    color: $euiTextColor;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  &__prompt {
    color: $euiTextSubduedColor;
  }

  &__action {
    cursor: pointer;

    &:not([disabled]):hover {
      text-decoration: underline;
    }

    &[disabled] {
      cursor: not-allowed;
      color: $euiTextSubduedColor;
    }
  }

  &__table {
    width: 100%;
    display: block;
    overflow: auto;
  }

  &__tableHeader {
    cursor: default;
    font-weight: $euiFontWeightBold;
    margin-bottom: 0;
    border-bottom: solid $tooltipBorderWidth $tooltipBorderColor;
  }

  &__tableCell:not(.echTooltip__colorCell) {
    padding: 4px;
  }

  &__tableBody {
    pointer-events: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    td:not(.echTooltip__colorCell) {
      padding: 2px 4px;
    }
  }

  &__tableFooter {
    border-top: solid $tooltipBorderWidth $tooltipBorderColor;
    font-weight: $euiFontWeightBold;
    margin-top: 0;
  }

  &__tableRow {
    position: relative;
    display: table;
    overflow: hidden; // to avoid extra height from color strip styles

    &--highlighted {
      background-color: transparentize($euiColorLightShade, 0.5);
    }

    &:hover:not(&--selected) :not(.echTooltip__colorCell--static) {
      .echTooltip__colorStrip {
        width: $rowColorStripWidth + $rowColorStripAnimatedWidthDelta;
      }
    }

    &--selected {
      :not(.echTooltip__colorCell--static) .echTooltip__colorStrip {
        width: $rowColorStripWidth + $maxRowColorStripWidth;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__colorCell {
    padding: 0;
    height: 100%;
    position: relative;
    width: $maxRowColorStripWidth;

    &--empty {
      width: 0;
    }

    &--static {
      width: $rowColorStripWidth;
    }
  }

  &__colorStrip {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $rowColorStripWidth;
    min-width: $rowColorStripWidth;
    max-width: $maxRowColorStripWidth;
    transition: width 200ms;

    &::before {
      opacity: 0;
      content: '·';
      display: flex;
      justify-content: center;
      align-items: center;
      height: 92%; // to center dot better
      font-size: 200%;
      transition: opacity 200ms;
    }
  }

  &__colorStripSpacer {
    width: $maxRowColorStripWidth;
  }

  &__label {
    @include wrapText;
    min-width: 1px;
    flex: 1 1 auto;
    text-align: left;
  }

  &__value {
    text-align: right;
    font-feature-settings: 'tnum';
  }

  &[dir='rtl'] {
    .echTooltip {
      &__colorStrip {
        left: auto;
        right: 0;
      }
    }
  }
}
