.echAnnotation {
  position: absolute;
  user-select: none;
  font-size: $euiFontSizeXS;
  font-weight: $euiFontWeightBold;

  &__tooltip {
    padding: 0;
    transition: opacity $euiAnimSpeedNormal;
    pointer-events: none;
    user-select: none;
    max-width: 256px;
  }

  &__details {
    padding: $euiSizeXS ($euiSizeXS * 2);
  }

  &__icon {
    position: relative;
  }

  &__body {
    white-space: nowrap;
  }
}
