$meter-thickness-small: 4px;
$meter-thickness-medium: 8px;
$meter-thickness-large: 16px;

$meter-width-small: $meter-thickness-small;
$meter-width-medium: $meter-thickness-medium;
$meter-width-large: $meter-thickness-large;

$meter-height-small: $meter-thickness-small;
$meter-height-medium: $meter-thickness-medium;
$meter-height-large: $meter-thickness-large;

$meter-target-size: 8px;
