@import './variables';
@import 'dom/text';
@import 'dom/progress';
@import 'dom/sparkline';
@import 'dom/secondary_metric';
@import 'dom/badge';

.echMetricContainer {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: start;
  justify-content: stretch;
  align-items: stretch;
  user-select: text;
}

.echMetric {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background-color ease-in-out 0.1s;

  .echMetric--outline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &:focus-within {
    .echMetric--outline {
      outline: auto;
      outline-offset: -1.5px;
    }
  }

  &--rightBorder {
    border-right: 1px solid #343741;
  }

  &--topBorder {
    border-top: 1px solid #343741;
  }

  &--bottomBorder {
    border-bottom: 1px solid #343741;
  }

  &--vertical {
    // TODO: Find a better way to style based on sizes (i.e. sass functions)
    &.echMetric--withProgressBar {
      &--small {
        padding-left: calc(#{$progress-bar-width-small} + var(--echMetricProgressTextGap, #{$padding}));
      }
      &--medium {
        padding-left: calc(#{$progress-bar-width-medium} + var(--echMetricProgressTextGap, #{$padding}));
      }
      &--large {
        padding-left: calc(#{$progress-bar-width-large} + var(--echMetricProgressTextGap, #{$padding}));
      }
    }

    &.echMetric--withTargetProgressBar {
      &--small {
        padding-left: calc(
          #{$progress-bar-width-small} + #{$progress-bar-target-width} + var(--echMetricProgressTextGap, #{$padding})
        );
      }
      &--medium {
        padding-left: calc(
          #{$progress-bar-width-medium} + #{$progress-bar-target-width} + var(--echMetricProgressTextGap, #{$padding})
        );
      }
      &--large {
        padding-left: calc(
          #{$progress-bar-width-large} + #{$progress-bar-target-width} + var(--echMetricProgressTextGap, #{$padding})
        );
      }
    }
  }

  &--horizontal {
    &.echMetric--withProgressBar {
      &--small {
        padding-bottom: calc(#{$progress-bar-height-small} + var(--echMetricProgressTextGap, #{$padding}));
      }
      &--medium {
        padding-bottom: calc(#{$progress-bar-height-medium} + var(--echMetricProgressTextGap, #{$padding}));
      }
      &--large {
        padding-bottom: calc(#{$progress-bar-height-large} + var(--echMetricProgressTextGap, #{$padding}));
      }
    }

    &.echMetric--withTargetProgressBar {
      &--small {
        padding-bottom: calc(
          #{$progress-bar-height-small} + #{$progress-bar-target-height} + var(--echMetricProgressTextGap, #{$padding})
        );
      }
      &--medium {
        padding-bottom: calc(
          #{$progress-bar-height-medium} + #{$progress-bar-target-height} + var(--echMetricProgressTextGap, #{$padding})
        );
      }
      &--large {
        padding-bottom: calc(
          #{$progress-bar-height-large} + #{$progress-bar-target-height} + var(--echMetricProgressTextGap, #{$padding})
        );
      }
    }
  }
}

.echMetricEmpty {
  position: absolute;
  bottom: 9px;
  right: 11px;
  width: 20px;
  border-bottom: 1px solid;
}
