.echMetricContainer {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: start;
  justify-content: stretch;
  align-items: stretch;
  user-select: text;
}

.echMetric {
  position: relative;
  overflow: hidden;
  transition: background-color ease-in-out 0.1s;
  //border: 1px solid transparent;
  .echMetric--outline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &:focus-within {
    .echMetric--outline {
      outline: auto;
      outline-offset: -1.5px;
    }
  }

  &:focus-within button {
    outline: none;
  }

  &--rightBorder {
    border-right: 1px solid #343741;
  }

  &--bottomBorder {
    border-bottom: 1px solid #343741;
  }

  &--vertical {
    &.echMetric--small {
      padding-left: 10px;
    }
  }

  &--horizontal {
    &.echMetric--small {
      padding-bottom: 10px;
    }
  }
}

@import 'dom/text';
@import 'dom/progress';
@import 'dom/sparkline';
