.echMetricContainer {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: start;
  justify-content: stretch;
  align-items: stretch;
  user-select: text;
}

.echMetric {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background-color ease-in-out 0.1s;

  .echMetric--outline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &:focus-within {
    .echMetric--outline {
      outline: auto;
      outline-offset: -1.5px;
    }
  }

  &:focus-within button {
    outline: none;
  }

  &--rightBorder {
    border-right: 1px solid #343741;
  }

  &--topBorder {
    border-top: 1px solid #343741;
  }

  &--bottomBorder {
    border-bottom: 1px solid #343741;
  }

  &--vertical {
    // TODO: find a better way to style based on sizes (i.e. sass functions)
    &.echMetric--withProgressBar {
      &--small {
        padding-left: 10px;
      }
    }

    &.echMetric--withTargetProgressBar {
      &--small {
        padding-left: 14px;
      }
    }
  }

  &--horizontal {
    &.echMetric--withProgressBar {
        &--small {
          padding-bottom: 10px;
        }
      }

      &.echMetric--withTargetProgressBar {
        &--small {
          padding-bottom: 12px;
        }
      }
  }
}

.echMetricEmpty {
  position: absolute;
  bottom: 9px;
  right: 11px;
  width: 20px;
  border-bottom: 1px solid;
}

@import 'dom/text';
@import 'dom/progress';
@import 'dom/sparkline';
