$progress-bar-width: 10px;
$progress-bar-height: 10px;
$progress-bar-target-width: 4px;
$progress-bar-target-height: 2px;

$padding: 8px;

.echMetricContainer {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: start;
  justify-content: stretch;
  align-items: stretch;
  user-select: text;
}

.echMetric {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background-color ease-in-out 0.1s;

  .echMetric--outline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &:focus-within {
    .echMetric--outline {
      outline: auto;
      outline-offset: -1.5px;
    }
  }

  &--rightBorder {
    border-right: 1px solid #343741;
  }

  &--topBorder {
    border-top: 1px solid #343741;
  }

  &--bottomBorder {
    border-bottom: 1px solid #343741;
  }

  &--vertical {
    // TODO: find a better way to style based on sizes (i.e. sass functions)
    &.echMetric--withProgressBar {
      &--small {
        padding-left: $progress-bar-width + $padding;
      }
    }

    &.echMetric--withTargetProgressBar {
      &--small {
        padding-left: $progress-bar-width + $progress-bar-target-width;
      }
    }
  }

  &--horizontal {
    &.echMetric--withProgressBar {
      &--small {
        padding-bottom: $progress-bar-height + $padding;
      }
    }

    &.echMetric--withTargetProgressBar {
      &--small {
        padding-bottom: $progress-bar-height + $progress-bar-target-height;
      }
    }
  }
}

.echMetricEmpty {
  position: absolute;
  bottom: 9px;
  right: 11px;
  width: 20px;
  border-bottom: 1px solid;
}

@import 'dom/text';
@import 'dom/progress';
@import 'dom/sparkline';
