@import '../../../components/meter/variables';

$progress-bar-thickness-small: $meter-thickness-small;
$progress-bar-thickness-medium: $meter-thickness-medium;
$progress-bar-thickness-large: $meter-thickness-large;

$progress-bar-width-small: $progress-bar-thickness-small;
$progress-bar-width-medium: $progress-bar-thickness-medium;
$progress-bar-width-large: $progress-bar-thickness-large;

$progress-bar-height-small: $progress-bar-thickness-small;
$progress-bar-height-medium: $progress-bar-thickness-medium;
$progress-bar-height-large: $progress-bar-thickness-large;

$padding: 8px;

$progress-bar-target-size: $meter-target-size;
$progress-bar-target-width: $progress-bar-target-size;
$progress-bar-target-height: $progress-bar-target-size;
