.echAnnotation {
  @include echFontSizeXS;
  pointer-events: none;
  position: absolute;
  z-index: $euiZLevel9;
  max-width: $echSizeXL * 10;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: opacity $euiAnimSpeedNormal;
  user-select: none;
}

.echAnnotation--hidden,
.echAnnotation__tooltip--hidden {
  opacity: 0;
}

.echAnnotation__tooltip {
  @include euiBottomShadow($color: $euiColorFullShade);
  @include echFontSizeXS;
  pointer-events: none;
  position: absolute;
  z-index: $euiZLevel9;
  background-color: rgba(tintOrShade($euiColorFullShade, 25%, 80%), 0.9);
  color: $euiColorGhost;
  border-radius: $euiBorderRadius;
  max-width: $echSizeXL * 10;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: opacity $euiAnimSpeedNormal;
  user-select: none;
}

.echAnnotation__header {
  margin: 0;
  background: rgba(shade($euiColorGhost, 20%), 0.9);
  color: $euiColorFullShade;
  padding: 0 8px;
}

.echAnnotation__details {
  margin: 0;
  padding: 0 8px;
  display: flex;
}

.echAnnotation__detailsMarker {
  margin-right: 4px;
}
