/**
 * The Base Elastic-Charts container
 */

.echContainer {
  flex: 1 1 auto;
  position: relative;

  &:hover {
    .echLegend__toggle {
      opacity: 1;
    }
  }
}

.echChart {
  display: flex;
  height: 100%;

  &--isBrushEnabled {
    cursor: crosshair;
  }

  &--column {
    flex-direction: column;
  }
}
