.echContainer {
  position: relative;
  width: 100%;
  height: 100%;
  @include echFont;
  font-size: $echFontSize;
  color: $echTextColor;
  box-sizing: border-box;
  &:hover {
    .echLegend__toggle {
      opacity: 1;
    }
  }
  div {
    box-sizing: border-box;
  }
}
