.echCrosshair {
  position: absolute;
  pointer-events: none;
}

.echCrosshair__band {
  position: absolute;
  pointer-events: none;
}

.echCrosshair__line {
  position: absolute;
  pointer-events: none;
  z-index: $euiZLevel8;
  background: 'transparent';
}
