.echTooltip {
  @include echBottomShadow($color: #000);
  @include echFontSizeXS;
  pointer-events: none;
  position: absolute;
  z-index: $echZLevel9;
  background-color: rgba(tintOrShade($echColorFullShade, 25%, 80%), 0.9);
  color: $echColorGhost;
  border-radius: $echBorderRadius;
  max-width: $echSizeXL * 10;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: opacity $echAnimSpeedNormal;
  user-select: none;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    td,
    th {
      padding: 3px;
    }
  }
  table {
    width: 100%;
  }
}
.echTooltip__label {
  font-weight: $echFontWeightMedium;
  color: shade($echColorGhost, 20%);
  border-left: 3px solid red;
}
.echTooltip__rowHighlighted {
  background-color: shade($echColorGhost, 20%);
  color: shade($echColorGhost, 90%);
  .echTooltip__label {
    color: shade($echColorGhost, 90%);
  }
}

.echTooltip--hidden {
  opacity: 0;
}

.echTooltip__header {
  margin: 0;
  background: rgba(shade($echColorGhost, 20%), 0.9);
  color: shade($echColorGhost, 90%);
  padding: 0 8px;
}
.echTooltip__table {
  margin: 4px;
}
