<!DOCTYPE html>
<html lang="en" class="disable-animations">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      html,
      body {
        background: blanchedalmond !important;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      html {
        overflow: scroll;
      }
    </style>
  </head>

  <body>
    <div id="story-root"></div>
  </body>
</html>
