.echChartStatus {
  visibility: hidden;
  pointer-events: none;
  z-index: -100000;
  width: 0;
  height: 0;
  position: absolute;
}

.echChartBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, blue, #e3e81d, #1de840, #1ddde8, red, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
