.echLegendItem {
  color: $euiTextColor;
  height: $echLegendItemHeight;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  user-select: none;
  align-items: center;

  &:hover {
    .echLegendItem__title {
      text-decoration: underline;
    }
  }

  &__color {
    margin-right: $euiSizeXS;
  }

  &__visibility {
    margin-right: $euiSizeXS;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    @include euiFontSizeXS;
    @include euiTextTruncate;
    flex: 1;

    &:hover {
      cursor: pointer;
    }
  }

  &__title--selected {
    text-decoration: underline;
  }

  &__title--hasClickListener {
    &:hover {
      cursor: pointer;
    }
  }

  &__displayValue {
    @include euiFontSizeXS;
    text-align: right;
    margin-left: $euiSizeM;
    font-feature-settings: 'tnum';

    &--hidden {
      display: none;
    }
  }

  &--hidden {
    color: $euiColorDarkShade;
  }
}
