// Animations

$echAnimSlightBounce: cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$echAnimSlightResistance: cubic-bezier(0.694, 0.0482, 0.335, 1) !default;

$echAnimSpeedExtraFast: 90ms !default;
$echAnimSpeedFast: 150ms !default;
$echAnimSpeedNormal: 250ms !default;
$echAnimSpeedSlow: 350ms !default;
$echAnimSpeedExtraSlow: 500ms !default;

// Keyframe animation declarations can be found in
// utility/animations.scss
