// Core

$echColorPrimary: #006bb4 !default;
$echColorGhost: #fff !default;

// Grays
$echColorEmptyShade: #fff !default;
$echColorLightShade: #d3dae6 !default;
$echColorMediumShade: #98a2b3 !default;
$echColorDarkShade: #69707d !default;
$echColorDarkestShade: #343741 !default;
$echColorFullShade: #000 !default;

// Every color below must be based mathmatically on the set above.

$echTextColor: $echColorDarkestShade !default;
$echFocusBackgroundColor: tintOrShade($echColorPrimary, 90%, 50%) !default;
