@font-face {
  font-family: 'Elastic UI Numeric';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url('../../../public/fonts/elastic_ui_numeric/ElasticUINumeric-Variable.woff2') format('woff2');
  unicode-range: U+20, U+24-25, U+28-29, U+2B-2F, U+30-3A, U+A0, U+202F, U+2212;
}
