#########################################################################################################
# Triggers a deployment event for pull requests and key branches
#########################################################################################################
name: PR Deploy Trigger

env:
  NODE_VERSION: '16.13.2' # should match version in .nvmrc

# Precautionary with using pull_request_target
permissions:
  statuses: none
  actions: read # needed for /environments
  checks: none
  pull-requests: none
  contents: none
  deployments: write
  issues: none
  packages: none
  repository-projects: none
  security-events: none

on:

# The _target event is needed to allow forks to access secrets in ci with limited scope
# This is why we limit 3rd party contributors running actions
# See https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request_target
  pull_request_target:
    branches:
      - master
      # - alpha
      # - next
      # - '[0-9]+.[0-9]+.[0-9]+'
      # - '[0-9]+.[0-9]+.x'
      # - '[0-9]+.x'

jobs:
  trigger-deploy:
    name: Trigger deployment
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT_NAME: "PR #${{ github.event.pull_request.number }}"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - run: ls
      - name: Print context
        shell: python
        run: |
          print("""${{ toJSON(github) }}""")

      - name: Create new PR deployment
        id: deployment
        uses: actions/github-script@v5
        with:
          # https://docs.github.com/en/rest/reference/deployments#create-or-update-an-environment
          script: | # This is javascript :)
            return await github.rest.repos.createDeployment({
              ...context.repo,
              ref: context.payload.pull_request.head.sha,
              auto_merge: false, // use branch as is without merging with base
              required_contexts: [],
              environment: "${{ env.ENVIRONMENT_NAME }}",
              transient_environment: false, // sets previous statuses to inactive
              production_environment: false,
            });
          # GITHUB_TOKEN is used here to prevent trigger deploy action
          # See https://github.com/octokit/request-action/issues/12
          github-token: ${{ secrets.GITHUB_TOKEN }}

#########################################################################################################

      - name: Check actor membership and return deploy state accordingly.
        uses: actions/github-script@v5
        id: state
        with:
          result-encoding: string
          script: | # This is javascript :)
            // https://docs.github.com/en/rest/reference/orgs#check-organization-membership-for-a-user
            const { status } = await github.rest.orgs.checkMembershipForUser({
              org: 'elastic',
              username: context.actor, // TODO: check if this changes for diff user
            });
            if (status !== 204) { // user is not an elastic member
              // https://docs.github.com/en/rest/reference/deployments#create-or-update-an-environment
              await github.rest.repos.createOrUpdateEnvironment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                environment_name: "${{ env.ENVIRONMENT_NAME }}",
                reviewers: [{
                  type: 'Team',
                  id: 3693417, // datavis team id
                }]
              });
              return 'pending' // pending review before deployment starts
            } else {
              return 'queued' // ready to deploy!!
            }
          github-token: ${{ secrets.ADMIN_TOKEN_GH }}

      - name: Print outputs result
        if: ${{ always() }}
        shell: python
        run: |
          print("""${{ toJSON(fromJSON(steps.deployment.outputs.result)) }}""")

      - name: Update Deployment status - queued
        uses: octokit/request-action@v2.x
        with:
          # https://docs.github.com/en/rest/reference/deployments#create-a-deployment-status
          route: POST /repos/{repo}/deployments/{deployment_id}/statuses
          repo: ${{ github.repository }}
          deployment_id: "${{ fromJSON(steps.deployment.outputs.result).data.id }}"
          state: ${{ steps.state.outputs.result }}
        env:
          # Must be GITHUB_TOKEN or will trigger a deployment_status event
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#########################################################################################################

      - name: Trigger deployment
        uses: actions/github-script@v5
        with:
          # https://docs.github.com/en/rest/reference/repos#create-a-repository-dispatch-event
          script: | # This is javascript :)
            await github.rest.repos.createDispatchEvent({
              ...context.repo,
              event_type: 'Deploy pull request',
              client_payload: {
                environment: "${{ env.ENVIRONMENT_NAME }}",
                branch_name: "${{ github.event.pull_request.head.ref }}",
                sha: "${{ github.event.pull_request.head.sha }}",
                pr_number: ${{ github.event.pull_request.number }},
                is_fork: ${{ github.event.pull_request.head.repo.fork }},
                deployment_id: "${{ fromJSON(steps.deployment.outputs.result).data.id }}",
              },
            });
          github-token: ${{ secrets.ADMIN_TOKEN_GH }}

#########################################################################################################
